[submodule "nvim"]
	path = nvim
	url = https://github.com/body-clock/kickstart.nvim.git
[submodule "nvim-bodyclock"]
	path = nvim-bodyclock
	url = https://github.com/body-clock/nvim-bodyclock
[submodule "bodyclock.nvim"]
	path = bodyclock.nvim
	url = https://github.com/body-clock/bodyclock.nvim
